Options -Indexes
RewriteEngine On

# Responder OPTIONS rápido (Render lo necesita)
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^ - [R=200,L]

# Enviar todo a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
